#bluetooth {
  background-color: var(--surface);
  border-radius: 20px;
  padding: 4px;
}

#bluetooth-device {
  background-color: var(--shadow);
  border-radius: 16px;
  padding: 8px;
  margin-bottom: 4px;
}

#bluetooth-scan,
#bluetooth-toggle {
  background-color: var(--shadow);
  border-radius: 16px;
  padding: 8px 16px;
}

#bluetooth-scan label,
#bluetooth-toggle label {
  font-weight: bold;
}
