#bluetooth-header {
  background-color: var(--surface);
  padding: 4px;
  border-radius: 20px;
}

#bluetooth-device {
  background-color: var(--shadow);
  border-radius: 16px;
  padding: 4px;
  margin-bottom: 4px;
}

#bluetooth-scan,
#bluetooth-toggle {
  background-color: var(--shadow);
  border-radius: 16px;
  padding: 8px 16px;
  min-width: 96px;
}

#bluetooth-scan:hover,
#bluetooth-toggle:hover {
  background-color: var(--surface-bright);
}

#bluetooth-scan label,
#bluetooth-toggle label {
  font-weight: bold;
}

#bluetooth-text,
#bluetooth-section {
  font-weight: bold;
}

#bluetooth-text {
  color: var(--primary);
}

#bluetooth-connection {
  font-size: 20px;
}

#bluetooth-connect {
  background-color: var(--surface);
  border-radius: 12px;
  padding: 8px 16px;
}

#bluetooth-connect:hover {
  background-color: var(--surface-bright);
}

#bluetooth-paired,
#bluetooth-available {
  background-color: var(--surface);
  border-radius: 20px;
  padding: 4px;
}
