#box-1,
#box-2,
#box-3,
#box-x {
  border-radius: 20px;
  background-color: var(--surface);
}

#container-1,
#container-2,
#container-3 {
  border-radius: 20px;
}

#container-sub-1 {
  min-width: 750px;
}

#box-2 {
  min-width: 350px;
}

#box-3 {
  min-width: 88px;
  /*min-height: 226px;*/
}

#box-x {
  min-height: 28px;
}

#switcher.stack-switcher > * {
  background-color: var(--shadow);
  padding: 4px;
  border-radius: 20px;
  transition: all 0.1s ease;
}

#switcher.stack-switcher > *:checked {
  background-color: var(--surface);
}

#switcher.stack-switcher > *:active,
#switcher.stack-switcher > *:hover {
  background-color: var(--surface-bright);
}

#switcher.stack-switcher > *:focus {
  background-color: var(--surface-bright);
}

#switcher.stack-switcher button label {
  font-weight: bold;
}

#switcher.stack-switcher > *:checked label {
  color: var(--primary);
}
