#kanban {
  background-color: var(--surface);
  border-radius: 20px;
  padding: 4px;
}

#kanban-column {
  background-color: var(--shadow);
  border-radius: 16px;
  padding: 8px;
}

#column-header {
  padding: 4px;
  font-weight: bold;
}

#kanban-scroll {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 4px;
}

#kanban-note,
#inline-editor {
  background-color: var(--shadow);
  border-radius: 12px;
  padding: 8px;
  margin-bottom: 4px;
}

#inline-editor {
  border: 2px solid var(--surface-bright);
}

#add-btn {
  background-color: var(--shadow);
  border-radius: 12px;
  padding: 8px;
}

#add-btn:hover {
  background-color: var(--surface);
}

#add-btn:active {
  background-color: var(--surface-bright);
}
