#search-entry,
#search-entry-walls {
  font-weight: bold;
  background-color: var(--surface);
  color: var(--foreground);
  border-radius: 16px;
  padding: 10px;
}

#search-entry selection,
#search-entry-walls selection {
  color: var(--background);
  background-color: var(--primary);
}

#close-button,
#config-button {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 8px;
}

#close-button:hover,
#close-button:focus,
#config-button:hover,
#config-button:focus {
  background-color: var(--surface-bright);
}

#close-button:active {
  background-color: var(--error-dim);
}

#close-label {
  color: var(--error-dim);
  font-size: 24px;
}

#close-button:active #close-label {
  color: var(--shadow);
}

#config-button:active {
  background-color: var(--primary);
}

#config-label {
  color: var(--primary);
  font-size: 24px;
}

#config-button:active #config-label {
  color: var(--shadow);
}

#scrolled-window {
  border-radius: 16px;
}

#scrolled-window scrollbar {
  border-radius: 10px;
  background-color: var(--surface);
  padding: 4px;
  margin-left: 6px;
}

#scrolled-window slider {
  border-radius: 8px;
  min-width: 16px;
  min-height: 48px;
  background-color: var(--primary);
}

#app-slot-button {
  border-radius: 16px;
  padding: 16px;
  transition: padding 0.1s ease;
  animation: loadSlot 0.5s ease;
}

@keyframes loadSlot {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#app-slot-button:hover,
#app-slot-button:focus,
#app-slot-button:selected,
#app-slot-button.selected {
  background-color: var(--surface-bright);
  padding-left: 20px;
}

#app-slot-button:active {
  background-color: var(--primary);
}

#app-icon {
  margin: -8px;
  margin-right: 4px;
}

#app-label {
  color: var(--foreground);
  font-weight: bold;
}

#app-slot-button:hover #app-label,
#app-slot-button:focus #app-label,
#app-slot-button:selected #app-label,
#app-slot-button.selected #app-label {
  color: var(--primary);
}

#app-slot-button:active #app-label {
  color: var(--shadow);
}
