#metrics-small {
    background-color: var(--shadow);
    padding: 4px;
    border-radius: 16px;
    margin-top: 4px;
}

#metrics-circle {
    color: var(--surface-bright);
    border: 3px solid var(--primary);
}

#metrics-circle.cpu {
    border: 3px solid var(--primary);
}

#metrics-circle.ram {
    border: 3px solid var(--secondary);
}

#metrics-circle.disk {
    border: 3px solid var(--tertiary);
}

#metrics-circle.bat {
    border: 3px solid var(--green);
}

#metrics-circle.alert {
    border: 3px solid var(--error-dim);
}

#metrics-icon {
    font-size: 20px;
}

#metrics-icon.alert {
    color: var(--error-dim);
}

#metrics-level {
    color: var(--primary);
    font-weight: bold;
    margin: 0 4px;
}

#metrics-level.cpu {
    color: var(--primary);
}

#metrics-level.ram {
    color: var(--secondary);
}

#metrics-level.disk {
    color: var(--tertiary);
}

#metrics-level.bat {
    color: var(--green);
}