#metrics-small {
  background-color: var(--shadow);
  padding: 4px;
  border-radius: 16px;
  margin-top: 4px;
}

#metrics-circle {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#metrics-circle.bat {
  border: 3px solid var(--green);
}

#metrics-circle.alert {
  border: 3px solid var(--red-dim);
}

#metrics-icon {
  font-size: 20px;
}

#metrics-icon.alert {
  color: var(--red-dim);
}

#metrics-level {
  font-weight: bold;
  margin: 0 4px;
}

#metrics-sep {
  min-width: 4px;
}

