#notch-box {
  margin: 0 60px 10px 60px;
  /* border-radius: 0 0 20px 20px; */
}

/* #notch-box.open { */
/*   border-radius: 0 0 36px 36px; */
/* } */

#notch-box.hidden {
  opacity: 0;
}

#notch-wrap {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

#notch-wrap.occluded {
  margin-top: -38px;
}

#notch-wrap.occluded #notch-box {
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

#notch-box.hideshow {
  opacity: 1;
  margin-top: 40px;
}

#notch-content {
  background-color: var(--shadow);
  min-height: 40px;
  min-width: 256px;
  border-radius: 0 0 20px 20px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#notch-content.open.invert {
  padding: 2px;
  padding-top: 0px;
}

#notch-content.invert {
  background-color: var(--surface);
  border-radius: 0 0 12px 12px;
}

#notch-content.launcher,
#notch-content.tmux,
#notch-content.cliphist {
  min-height: 220px;
  min-width: 480px;
  border-radius: 0 0 36px 36px;
}

/* #notch-content.launcher.invert, */
/* #notch-content.tmux.invert, */
/* #notch-content.cliphist.invert { */
/*   background-color: var(--shadow); */
/* } */

#notch-content.dashboard {
  padding-top: 0px;
  min-height: 432px;
  min-width: 1093px;
  border-radius: 0 0 36px 36px;
}

/* #notch-content.dashboard.invert { */
/*   background-color: var(--surface); */
/* } */

#notch-content.overview {
  /* padding: 16px; */
  @apply overview_width();
  @apply overview_height();
  border-radius: 0 0 36px 36px;
}

#notch-content.tools {
  min-height: 52px;
  min-width: 656px;
  border-radius: 0 0 36px 36px;
}

#notch-content.emoji {
  min-height: 238px;
  min-width: 574px;
  border-radius: 0 0 36px 36px;
}

#notch-content.power {
  min-height: 52px;
  min-width: 276px;
  border-radius: 0 0 36px 36px;
}

#app-launcher,
#dashboard,
#notification,
#overview,
#emoji,
#power-menu,
#toolbox,
#tmux-manager,
#clip-history {
  opacity: 1;
  margin: -800px;
  transition: all 0.25s cubic-bezier(0.5, 0.25, 0, 1);
}

#app-launcher.open,
#dashboard.open,
#notification.open,
#overview.open,
#emoji.open,
#power-menu.open,
#toolbox.open,
#bluetooth.open,
#tmux-manager.open,
#clip-history.open {
  opacity: 1;
  margin: 0px;
}

#notch-compact {
  font-weight: bold;
  transition: all 0.5s cubic-bezier(0.5, 0.25, 0, 1);
  padding: 10px;
}

#notch-corner-left {
  margin-left: -16px;
}

#notch-corner-right {
  margin-right: -16px;
}

#compact-mpris-icon-label {
  color: var(--primary);
}

#compact-mpris-icon-label,
#compact-mpris-button-label {
  font-size: 20px;
}

#compact-mpris-icon,
#compact-mpris-button {
  margin: 0 10px;
}

#compact-mpris-icon:hover,
#compact-mpris-button:hover {
  background-color: var(--primary);
}

#compact-mpris-icon:active,
#compact-mpris-button:active {
  background-color: var(--primary);
}

#compact-mpris-icon:hover #compact-mpris-icon-label,
#compact-mpris-button:hover #compact-mpris-button-label {
  color: var(--background);
}

#hyprland-window label {
  margin: 0px 8px;
}

#active-window-box {
  margin: 10px;
}

#vert-comp,
#vert-comp.pills {
  min-width: 44px;
}

#vert-comp.dense {
  min-width: 56px;
}

#vert-comp.edge {
  min-width: 48px;
}

#app-launcher,
#power-menu,
#toolbox,
#dashboard,
#tmux-manager,
#clip-history,
#emoji {
  background-color: var(--shadow);
  padding: 14px;
  border-radius: 0 0 34px 34px;
}
