#notch-box {
  margin: 0 20px 10px 20px;
}

#notch-box.hidden {
  opacity: 0;
}

#notch-wrap {
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#notch-wrap.occluded {
  margin-top: -38px;
}

#notch-wrap.occluded #notch-box {
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#notch-box.hideshow {
  opacity: 1;
  margin-top: 40px;
}

#notch-content {
  background-color: var(--shadow);
  border-radius: 0 0 20px 20px;
  transition: all 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

#notch-content.open {
  border-radius: 0 0 36px 36px;
}

#notch-content.open.invert {
  padding: 2px;
  padding-top: 0px;
  border-radius: 0 0 36px 36px;
}

#notch-content.invert {
  background-color: var(--surface);
  border-radius: 0 0 12px 12px;
}

#notch-compact {
  font-weight: bold;
}

#notch-corner-left {
  margin-left: -16px;
}

#notch-corner-right {
  margin-right: -16px;
}

#compact-mpris-icon-label {
  color: var(--primary);
}

#compact-mpris-icon-label,
#compact-mpris-button-label {
  font-size: 20px;
}

#compact-mpris-icon,
#compact-mpris-button {
  margin: 0 10px;
}

#compact-mpris-icon:hover,
#compact-mpris-button:hover {
  background-color: var(--primary);
}

#compact-mpris-icon:active,
#compact-mpris-button:active {
  background-color: var(--primary);
}

#compact-mpris-icon:hover #compact-mpris-icon-label,
#compact-mpris-button:hover #compact-mpris-button-label {
  color: var(--background);
}

#hyprland-window label {
  margin: 0px 8px;
}

#active-window-box {
  margin: 10px;
}

#vert-comp,
#vert-comp.pills {
  min-width: 44px;
}

#vert-comp.dense {
  min-width: 56px;
}

#vert-comp.edge {
  min-width: 48px;
}

#app-launcher,
#power-menu,
#toolbox,
#dashboard,
#tmux-manager,
#clip-history,
#overview,
#emoji {
  background-color: var(--shadow);
  padding: 14px;
  border-radius: 0 0 34px 34px;
}
