#notification-action-buttons button.start-action {
    border-radius: 20px;
}

#notification-action-buttons button {
    background-color: var(--surface);
    padding: 8px;
}

#notification-action-buttons button:hover {
    background-color: var(--surface-bright);
}

#notification-action-buttons button:active {
    background-color: var(--primary);
}

#notification-action-buttons button:active #button-label {
    color: var(--shadow);
}

#notification-image image {
    border-radius: 16px;
}

#notification-summary,
#button-label {
    font-weight: bold;
}

#notification-summary {
    font-weight: bold;
    color: var(--primary);
}

#notification-app-name {
    color: var(--outline);
}

#action-button {
    margin-top: 8px;
}

#notification-stack-box {
    border-radius: 32px;
    padding: 16px;
    background-color: var(--shadow);
    margin: 8px;
    min-width: 336px;
}

#boxed-notification-revealer {
    margin-top: -14px;
}

#notification-navigation {
    padding: 4px;
}

#notif-close-button {
  background-color: var(--surface);
  border-radius: 16px;
  padding: 4px;
}

#notif-close-button:hover,
#notif-close-button:focus {
  background-color: var(--surface-bright);
}

#notif-close-button:active {
  background-color: var(--error-dim);
}

#notif-close-label {
  color: var(--error-dim);
  font-size: 20px;
}

#notif-close-button:active #notif-close-label {
  color: var(--shadow);
}

#nav-button {
    padding: 8px;
    border-radius: 16px;
    background: var(--shadow);
    margin-top: -12px;
}

#nav-button:hover {
    background: var(--surface-bright);
}

#nav-button:disabled #nav-button-label {
    color: var(--surface-bright);
}

#nav-button-label {
    font-size: 16px;
}

#nav-button-label.close {
    color: var(--error-dim);
}

#nav-button:hover #nav-button-label {
    color: var(--primary);
}

#nav-button:hover #nav-button-label.close {
    color: var(--error-dim);
}

#notification-history {
  min-width: 420px;
  border-radius: 20px;
  border: 4px solid var(--surface);
  padding: 4px;
}

#notification-history scrollbar {
  background: transparent;
}

#notification-history scrollbar.vertical slider {
  background: var(--primary);
  border-radius: 16px;
  min-width:16px;
  margin: 4px;
}

#notification-history scrollbar.vertical trough {
  background: var(--surface);
  border: none;
  margin: 4px;
}

#notification-box-hist {
    padding: 8px;
}

#notification-separator {
    padding: 1px;
    border-radius: 16px;
    background-color: var(--surface);
    margin: 0 16px;
}