#overview {
  background-color: var(--shadow);
  border-radius: 20px;
}

#overview-icon {
  background-color: var(--primary);
}

#overview-client-box,
#overview-workspace-bg,
#overview-frame {
  border-radius: 20px;
  transition: all 0.1s ease;
}

#overview-client-box {
  background-color: var(--shadow);
  border: 4px solid var(--surface);
}

#overview-client-box:hover {
  background-color: var(--surface);
}

#overview-client-box:focus {
  background-color: var(--surface);
  border: 4px solid var(--primary);
}

#overview-client-box:active {
  background-color: var(--surface-bright);
  border: 4px solid var(--surface-bright);
}

#overview-workspace-bg {
  border-radius: 20px;
}

#overview-workspace-box {
  /*padding: 2px;*/
  /*background-color: var(--primary);*/
}

#overview-add-label {
  font-size: 24px;
  color: var(--surface-bright);
}
