#toolbox-button {
  border-radius: 20px;
  min-width: 52px;
  min-height: 52px;
}

#toolbox-button label {
  font-size: 24px;
  color: var(--foreground);
}

#toolbox-button.recording label {
  color: var(--error-dim);
}

#toolbox-button:hover,
#toolbox-button:focus {
  background-color: var(--surface-bright);
}

#toolbox-button:hover label,
#toolbox-button:focus label {
  color: var(--primary);
}

#toolbox-button.recording:hover label,
#toolbox-button.recording:focus label {
  color: var(--error-dim);
}

#toolbox-button:active {
  background-color: var(--primary);
}

#toolbox-button:active label {
  color: var(--shadow);
}

#toolbox-button.recording:active {
  background-color: var(--error-dim);
}

#toolbox-button.recording:active label {
  color: var(--shadow);
}