#button-bar-vol {
  padding: 4px;
  margin-top: 4px;
  border-radius: 16px;
  background-color: var(--shadow);
}

#button-volume {
  color: var(--surface-bright);
  border: 3px solid var(--primary);
}

#button-volume.muted {
  color: var(--surface-bright);
  border: 3px solid var(--outline);
}

#vol-label {
  font-size: 20px;
}

#vol-label.muted {
  color: var(--outline);
}