#wallpaper-icons:selected {
  background-color: var(--outline);
  border-radius: 0px;
}

#scheme-dropdown {
  background-color: var(--surface);
  padding: 8px;
}

#scheme-dropdown > * > * {
  font-weight: bold;
  color: var(--shadow);
}

#scheme-dropdown.box button.box.cellview {
  background-color: var(--primary);
}

#scheme-dropdown.box button.box.cellview:selected {
  background-color: var(--surface-bright);
}

#search-entry-walls {
  min-width: 512px;
}

/* Customize the overall switch appearance */
#matugen-switcher, #dnd-switch {
  min-width: 40px;
  min-height: 20px;
  background-color: var(--surface);
  border-radius: 15px;
  padding: 2px;
  transition: background-color 0.3s ease;
}

/* Style the switch's slider */
#matugen-switcher slider, #dnd-switch slider {
  background-color: var(--primary);
  border-radius: 16px;
  min-width: 20px;
  min-height: 20px;
  transition: background-color 0.1s cubic-bezier(0.5, 0.25, 0, 1.25), transform 0.25s cubic-bezier(0.5, 0.25, 0, 1.25);
}

/* When the switch is active (checked) */
#matugen-switcher:checked, #dnd-switch:checked {
  background-color: var(--primary);
}

/* Optional: additional styling for the slider when active */
#matugen-switcher:checked slider, #dnd-switch:checked slider {
  background-color: var(--shadow);
}

#matugen-switcher:checked image, #dnd-switch:checked image {
  color: var(--shadow);
}

#mat-label {
  font-size: 24px;
  margin-left: 4px;
}