/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/
/*@import ("./colors.css");*/
#weather-location,
#weather-condition,
#weather-update-time,
#weather-current-temperature,
#weather-feels-like-temperature {
  font-family: "Jost*", sans-serif;
  color: alpha(var(--foreground), 0.6);
}
#clock > label {
  font-size: 100px;
  transition: color 0.5s ease;
  color: alpha(var(--primary), 0.7);
  font-family: "Jost*", sans-serif;
  font-weight: 900;
  margin-bottom: -25px;
}
#date > label {
  font-size: 24px;
  transition: color 0.5s ease;
  color: alpha(var(--primary), 0.7);
  font-family: "Jost*", sans-serif;
  font-weight: 500;
  margin-bottom: -25px;
}

#quote {
  font-size: 20px;
  color: alpha(var(--primary), 0.7);
  font-family: "Jost*", sans-serif;
  font-weight: 400;
}

#weather-widget {
  padding: 4px;
}

#weather-location {
  font-size: 20px;
}
#weather-feels-like-temperature,
#weather-update-time {
  font-size: 20px;
  font-weight: 300;
}

#header1 {
  margin-top: 20px;
  margin-right: 50px;
  margin-left: 30px;
}

#header2 {
  margin-right: 20px;
}

#header3 {
  margin: 20px;
}

#window-inner {
  margin: 10px;
  background-color: alpha(var(--primary), 0.5);
}
#weather-location {
  font-size: 40px;
  font-weight: 700;
}
#weather-condition {
  margin-left: 0px;
  font-size: 24px;
}
#weather-current-temperature {
  margin-top: 10px;
  font-size: 75px;
  font-weight: 700;
}

#weather-feels-like-temperature {
  margin-top: -20px;
}

#weather-emoji {
  font-size: 90px;
}

#weather-condition,
#weather-update-time {
  margin-top: -8px;
}
/*#header {*/
/*  border: solid 1px var(--border-color);*/
/*  border-radius: 8px;*/
/*  box-shadow: 0px 18px 23px -6px rgba(0, 0, 0, 0.75);*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    alpha(var(--color11), 0.2),*/
/*    alpha(var(--background), 0.2),*/
/*    var(--module-bg)*/
/*  );*/
/*}*/
/**/
/*#profile-pic {*/
/*  background-color: alpha(var(--color11), 0.2);*/
/*  background-position: center;*/
/*  background-repeat: no-repeat;*/
/*  background-size: cover;*/
/*  border-radius: 6px;*/
/*  padding: 32px;*/
/*  margin: 4px;*/
/*}*/

#progress-bar {
  color: alpha(var(--primary), 0.5);
  border: 8px alpha(var(--primary), 0.7);
}
#progress-bar-container-main {
  background-color: transparent;
  border-radius: 100px;
  border-radius: 12px;
  padding: 10px;
}
#progress-bar-sep {
  padding: 4px;
  margin: 16px 0px;
  border-radius: 100px;
}

#progress-bar-container {
  background-color: transparent;
  border-radius: 100px;
  padding: 8px;
}
#progress-icon-ram,
#progress-icon-bat,
#progress-icon-cpu {
  color: alpha(var(--primary), 0.5);
  font-family: "Jost*";
}
#progress-icon-ram {
  margin-right: 4px;
  text-shadow: 0 0 10px #fff;
  font-size: 15px;
}
#progress-icon-bat {
  margin-right: 0px;
  text-shadow: 0 0 10px #fff;
  font-size: 15px;
}
#progress-icon-cpu {
  margin-right: -1px;
  text-shadow: 0 0 10px #fff;
  font-size: 20px;
}


#activation-main-text,
#activation-sub-text{
    color: rgba(255, 255, 255, 0.6); /* Semi-transparent white */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#activation-main-text{
font-size:20px
}

#activation-sub-text{
font-size:17px;
margin-bottom:12px;
margin-right:16px;
}
